@import "../../variables.scss";

.txnModal {
    background-color: radial-gradient(140.14% 84.18% at 37.5% 19.23%, #E0E7F2 0%, #F4F7FC 59.38%);
    .txnModalContainer {
        padding: 40px 0px;
        .titleContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 50px;
            .title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .text {
                    font-size: $xLarge;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
            .closeButton {
                font-size: $xLarge;
                font-weight: 200;
            }
        }
        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .content {
                margin: 30px;
                .title {
                    font-size: $Medium;
                    font-weight: 600;
                }
                .description {
                    font-size: $Small;
                    font-weight: 200;
                    margin-bottom: 5px;
                    .value {
                        font-weight: 600;
                        margin-left: 10px;
                    }
                    .subValue {
                        font-weight: 300;
                        font-size: $xSmall;
                    }
                }
                .checkTips {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    grid-gap: 10px;
                    align-items: flex-start;
                    margin-top: 10px;
                    color: $Primary;
                    font-size: $Small;
                }
                .inputContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-end;
                    grid-gap: 10px;
                    margin-top: 20px;
                    .txnValue {
                        font-size: $Small;
                        width: 150px;
                    }
                }
                .finalValue {
                    font-size: $Large;
                }
                .message {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: $Secondary;
                    font-size: $xLarge;
                    grid-gap: 10px;
                    .text {
                        color: $Black;
                        font-size: $Large;
                        font-weight: 200;
                        margin-right: 10px;
                    }
                    a {
                        font-size: $xSmall;
                        color: $Primary;
                        text-decoration: none;
                    }
                }
                .subText {
                    padding: 10px;
                }
                .txnError {
                    color: $Red;
                    margin-top: 20px;
                }
            }
            .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                grid-gap: 10px;
                padding: 30px;
                .walletInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    grid-gap: 10px;
                    .label {
                        font-size: $xSmall;
                        color: $DarkGrey;
                    }
                    .value {
                        font-size: $xSmall;
                        color: $Black;
                        font-weight: 600;
                    }
                }
                .buttonsContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    grid-gap: 10px;
                }
            }
        }
    }
}