@import "../variables.scss";

.header {
    background-color: $White;
    padding: 10px 60px 0px 60px;
        .top {
            border-bottom: 0.5px solid $LightGrey;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            .networkStatus {
                font-size: $xSmall;
                color: $DarkGrey;
            }
            .connectedLogo {
                height: 20px;
                margin-left: 5px;
            }
        }
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .menuItem {
                color: $DarkGrey;
                font-size: xLarge;
                padding: 20px;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                &:hover {
                    color: $Primary;
                    .menuIcon {
                        filter: grayscale(0%);
                        opacity: 1.0;
                    }
                }
                .menuIcon {
                    margin-right: 8px;
                    filter: saturate(0%);
                    opacity: 0.9;
                }
                &.active {
                    color: $Primary;
                    font-weight: 600;
                    .menuIcon {
                        filter: grayscale(0%);
                        opacity: 1.0;
                    }
                }
            }
        }
}

.walletModal {
    width: 50% !important;
    .walletModalContainer {
        .closeButton {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-size: $Large;
            font-weight: 200;
            width: 100%;
        }
        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            .title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .text {
                    font-size: $Large;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
            .description {
                text-align: center;
                font-size: $Small;
                color: $DarkGrey;
            }
        }
        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .content {
                margin: 20px 30px 60px 30px;
                .title {
                    font-size: $Medium;
                    font-weight: 600;
                }
                .description {
                    font-size: $Small;
                    font-weight: 200;
                }
                .inputContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    grid-gap: 10px;
                    margin-top: 20px;
                    .txnValue {
                        font-size: $Small;
                        width: 150px;
                    }
                }
                .finalValue {
                    font-size: $Large;
                }
                .message {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: $Secondary;
                    font-size: $xLarge;
                    .text {
                        margin-left: 10px;
                        color: $Black;
                        font-size: $Large;
                        font-weight: 200;
                    }
                }
            }
            .footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                grid-gap: 10px;
            }
        }
    }
}