//color template
$Primary: #1B56D0;
$Secondary: #13B6B6;
$Highlight: #5329BD;
$Black: #000000;
$DarkGrey: #797992;
$MediumGrey: #DDDDE2;
$LightGrey: #F4F6FC;
$White: #FFFFFF;
//$BgGradient: radial-gradient(140.14% 84.18% at 37.5% 19.23%, #E0E7F2 0%, #F4F7FC 59.38%);
$BgGradient: #EEF2F9;

//Font sizes
$xxSmall: 8px;
$xSmall: 14px;
$Small: 16px;
$Medium: 18px;
$Large: 24px;
$xLarge: 36px;